<div class="panel panel-primary">
    <div class="panel-heading">
        Search
    </div>
    <div class="panel-body">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="{{placeholder}}" (keyup)="doSearch(searchInput.value)" #searchInput>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="doSearch(searchInput.value)">Search</button>
            </span>
        </div>
        <div class="panel-body">
            <search-results [results]='results'></search-results>
        </div>

    </div>

</div>